* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

:root {
  --white: #d5d2cf;
  --gray: #e0e0e0;
  --black: #160f09;
}
body {
  background-image: url(../assets/images/curvy-narrow-muddy-road-dark-forest-surrounded-by-greenery-little-light-coming-from2x.png);

  background-position: center;
  background-repeat: no-repeat;
}
main {
  display: grid;
  grid-template-rows: auto 1fr;
  align-items: center;
}
.fullHeight {
  height: 100vh;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 1vh 1vw;
  color: var(--gray);
  font-size: 2vw;
}
nav {
  display: flex;
  flex-direction: row;
  gap: 1.2vw;
}
.navLink {
  display: inline-block;
  text-decoration: none;
  color: var(--gray);
  gap: 1vw;
}

.banner {
  flex-grow: 1;
}
.banner h1 {
  color: var(--white);
  text-transform: uppercase;
  font-size: 5vw;
  text-align: center;
}

section {
  display: flex;
  flex-direction: column;
  padding: 0 2%;
}
.search {
  align-self: center;
  width: 50%;
  padding: 5%;
}
#searchTrips {
  width: 100%;
  font-size: 1.4vw;
}
.message {
  text-align: center;
  flex-grow: 1;
  height: 50vh;
  color: aliceblue;
  font-size: 2.6vw;
}
.displayTrips {
  /* flex-grow: 3; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 4% 2%;
}
.displayTrips a {
  text-decoration: none;
}
.blur {
  opacity: 0.2;
}
.card {
  display: flex;
  background-color: var(--white);
  flex-direction: column;
  text-align: center;
  border-radius: 6px;
}
.price::after {
  content: " \20AC";
}
.imgLink {
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 25vh;
}

.shortDescrp {
  display: none;
}
.fullDescrp {
  display: none;
}
.active {
  display: block;
}

/* trip overview */

.fullTrip {
  margin: 0 auto;
  margin-top: 10vh;
  background-color: var(--gray);
  width: 96%;
}

.fullCard {
  display: flex;
  padding: 1rem;
  height: 70vh;
}
.imgWrapper,
.textWrapper {
  width: 50%;
}

.imgWrapper {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.textWrapper {
  padding: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-end;
  gap: 4%;
}

.textWrapper > h4 {
  text-align: justify;
}

/* admin page */

table {
  width: 100%;
  color: white;
}

.tdImage {
  height: 10vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
