* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

:root {
  --white: #d5d2cf;
  --gray: #e0e0e0;
  --black: #160f09;
}
body {
  background-image: url(../assets/images/curvy-narrow-muddy-road-dark-forest-surrounded-by-greenery-little-light-coming-from2x.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
main {
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr;
  align-items: center;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 1vh 1vw;
  color: var(--gray);
  font-size: 2vw;
}
nav {
  display: flex;
  flex-direction: row;
  gap: 1.2vw;
}
.navLink {
  display: inline-block;
  text-decoration: none;
  color: var(--gray);
  gap: 1vw;
}

.banner {
  flex-grow: 1;
}
.banner h1 {
  color: var(--white);
  text-transform: uppercase;
  font-size: 5vw;
  text-align: center;
}

section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search {
  flex-grow: 1;
}
.displayTrips {
  flex-grow: 3;
}
